BODY {
	border:0px;
	font-family: 'Lato', sans-serif
}

A:link {
    color: rgb(100,100,100);
    text-decoration: none
}

A:visited {
    color: rgb(100,100,100);
    text-decoration: none
}

A:active {
    color: grey;
    text-decoration: none
}

.cursorwait {
    cursor: wait
}

TABLE.borderless {
    border-right: white 0px;
    padding-right: 0px;
    border-top: white 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    border-left: white 0px;
    padding-top: 0px;
    border-bottom: white 0px
}

TD.highlight {
    background-color: #3fad28;
    color: white;
}

TD.subtotal {
    border-top: black 1px solid;
}

TD {
    font-size: 10pt
}

table {
    border-collapse: separate;
}

.fLink {
    cursor: pointer;
    color: #323332;
    text-decoration: underline;
}

TD.fakebutton {
    border: 1px solid grey;
    background-color: #ddd;
    padding: 5px;
}

TH {
    font-size: 13px;
}

th.fL{
    font-size:13px;
}
.fL {
    cursor: pointer;
    color: #323332;
    font-size:13px;
    text-decoration: underline;
    padding-top:3px;
}
.fLVoid {
    color: #323332;
    font-size:13px;
    padding-top:3px;
}
.ci {
	border:0px;
	width:11px;
	height:11px
}
.fLbul {
	cursor: pointer;
	color: grey;
	padding-left: 15px;
	text-decoration: none
}

.fLind {
	cursor: pointer;
	color: black;
	padding-left: 30px;
	text-decoration: none
}

SPAN.h15px {
	width: 15px;
	display: inline-block;
}

SPAN.h30px {
	width: 30px;
	display: inline-block;
}

SPAN.h45px {
	width: 45px;
	display: inline-block;
}

SPAN.h60px {
	width: 60px;
	display: inline-block;
}

SPAN.h75px {
	width: 75px;
	display: inline-block;
}

SPAN.h90px {
	width: 90px;
	display: inline-block;
}

SPAN.h105px {
	width: 105px;
	display: inline-block;
}
.fa-print
{
    font-size:1.5em !important;
}

.fa-caret-down
{
    color: #3FAD28;
    font-size:18px !important;
    padding-left: 3px !important;
}
.fa-caret-up
{
    color: #3FAD28;
    font-size:18px !important;
    padding-left: 3px !important;
}

.hierarchy
{
    cursor:pointer;
    text-decoration: underline;
}

OPTION:CHECKED
{
    color: white;
    background: #535453 repeat url(../images/pewter_grey.png);
}

OPTION:HOVER{
    color: white;
    background: #3FAD28 repeat url(../images/green.gif);
}