HR {
    height:0;
    border-top:solid #C0C0C0 1px;
    border-right:0px;
    border-bottom:0px;
    border-left:0px;
}

TD {
    font: 13px 'Lato', sans-serif
}

BODY {
    background-color: white;
    font: 10pt 'Lato', sans-serif;
}

BUTTON {
    font: 10pt 'Lato', sans-serif;
    margin-right: 2px;
    margin-left:  2px;
    color: black;
    border: 1px solid #999;
    border-radius: 2px;
    min-height:23px;
    text-align:center;
}
BUTTON:HOVER:ENABLED {
    background-color: #e2f5dc;
    border-color: #3fad28;
}

BUTTON:DISABLED {
   border-color:#DCDEDC;
   background-color:#DCDEDC;
}

INPUT[type="submit"]{
    font: 13px 'Lato', sans-serif;
    color: black;
}
INPUT {
    font: 13px 'Lato', sans-serif;
    color: grey;
}
INPUT[type="submit"]{
    font: 13px 'Lato', sans-serif;
    color: black;
}

TEXTAREA {
    border-width:1px;
    border-color: rgb(151, 161, 165);
    border-radius: 1px;
    border-style: solid;
    -webkit-box-shadow: 0px 1px 1px rgba(75, 78, 83, 0.3);
    box-shadow: 0px 1px 1px rgba(75, 78, 83, 0.3);
    font: 13px 'Lato', sans-serif;
    color: black;
}

SELECT {
    font-size: 13px;
    color: black;
    line-height: normal;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-variant: normal;
    border-color: rgb(151, 161, 165);
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    -webkit-box-shadow: 0px 1px 1px rgba(75, 78, 83, 0.3);
    box-shadow: 0px 1px 1px rgba(75, 78, 83, 0.3);
}

OPTION:CHECKED
{
    color: white;
    background: #B1B3B1 repeat url(../images/stone.png);
}

OPTION:HOVER{
    color: white;
    background: #70BF60 repeat url(../images/mantis.png);
}

BUTTON[disabled]:active, BUTTON[disabled],
INPUT[type="button"][disabled]:active,
INPUT[type="button"][disabled],
SELECT[disabled] > INPUT[type="button"],
SELECT[disabled] > INPUT[type="button"]:active,
INPUT[type="submit"][disabled]:active,
INPUT[type="submit"][disabled],
SELECT[disabled], SELECT[readonly],
DIV[disabled],
SPAN[disabled],
TD[disabled]
{
    color: GrayText;
    cursor: inherit;
}

INPUT[type="text"][disabled]:active,
INPUT[type="text"][disabled],
INPUT[type="password"][disabled]:active,
INPUT[type="password"][disabled]
{
    color:GrayText;
    background-color:white;
}

FIELDSET {
    padding: 6px;
    border:1px solid grey;
    border-radius: 1px;
    -webkit-box-shadow: 0px 1px 1px rgba(75, 78, 83, 0.3);
    box-shadow: 0px 1px 1px rgba(75, 78, 83, 0.3);
}

LEGEND {
    font: bold 13px 'Lato', sans-serif;
    color: #3fad28;
}

.head {
    font: bold 12pt 'Lato', sans-serif;
    color: #3fad28;
    text-align: center
}

TABLE.head,
TD.head {
    width: 100%;
    margin: 0px;
    border-style: none;
    border-spacing: 0px;
    border-collapse: separate;
    padding: 4px 4px 4px 4px;
}

.title {
    font: bold 16px 'Lato', sans-serif;
    color: #3fad28;
    text-align: left
}

.desc {
    font: 10pt 'Lato', sans-serif;
}

.body {
    font: 10pt 'Lato', sans-serif;
    color: black
}

.inputfield {
    font: 13px 'Lato', sans-serif;
    color: black;
}

.wiztd {
    vertical-align: top;
    width: 100px;
    text-align: center
}

.wizimg {
    border: white 1px solid;
    width: 100px;
    height: 200px
}

.hint {
    font-size: 8pt;
    cursor: help
}

.hintover {
    font-weight: bold;
    font-size: 11px;
    cursor: help
}

.fixedwidthlist {
    font-size: 11px;
    font-family: courier new
}

.tlbtable {
    font: 12px 'Lato', sans-serif;
    width: 100%;
    cursor: default;
    color: black;
    height: 100%;
    background-color: white;
    border-collapse: separate;
}
.tlbheader {
    border: 1px outset;
    font: 12px 'Lato', sans-serif;
    cursor: pointer;
    color: black;
    background-color: #d0d0d0;
}
.tlbcells {
    font: 10px 'Lato', sans-serif;
    text-align:justify;
}

.tlbrow:hover {
    color:black;
    background: #E2F5DC repeat url(../images/eb_green.png);
}

.fLink {
    color: #646464;
    text-decoration: underline;
    cursor:pointer;
}

.fLink:hover {
    color:#3fad28;
}

.fLinkDisabled {
    color: graytext;
    text-decoration: underline;
}

.fLinkBold {
    color: #646464;
    text-decoration: underline;
    cursor:pointer;
    font-weight: bold;
}

.applogo {
    border: 2px inset silver
}

.reqField {
    color: red;
    font-weight: bold;
}

#reqField {
    color: red;
    font-weight: bold;
}
/*Added for Extjs Grid text size*/
.x-grid3-cell-inner,.x-grid3-hd-inner{
    font:10pt 'Lato', sans-serif;
    padding:2px 2px 2px 3px;
}

/*Added for Extjs Window background color*/
.whiteExtWin .x-window-body {
    background: white;
}

DIV.desc{
    font: 10pt 'Lato', sans-serif;
    color: black;
    padding-bottom: 8px;
}

DIV.savetext{
    font: 10pt 'Lato', sans-serif;
    color: green;
    padding-top:5px;
    text-align:center;
}
.ext-ie .x-form-text {
    margin-top:0px;
    margin-bottom:0px;
}
.x-grid3-hd-row td.ux-filtered-column {
    color: red;
}
.ux-rangemenu-gt {
    background: url(/extjs/examples/ux/gridfilters/images/greater_than.png) !important;
}
.ux-rangemenu-lt {
    background: url(/extjs/examples/ux/gridfilters/images/less_than.png) !important;
}
.ux-rangemenu-eq {
    background: url(/extjs/examples/ux/gridfilters/images/equals.png) !important;
}
.ux-gridfilter-text-icon {
    background: url(/extjs/examples/ux/gridfilters/images/find.png) !important;
}
.x-item-disabled {
    color: #888888 !important;
    -moz-opacity: 70;
    opacity: 0.7;
}
.x-form-item-label .x-item-disabled {
    color: #888888 !important;
    -moz-opacity: 100;
    opacity: 1;
}