/*
    Document   : common-redesign
    Created on : 31.8.2015, 12:59:36
    Author     : vb185058
    Description:
        Purpose of the stylesheet follows.
*/

*,td,button{
    font-family: 'Lato', sans-serif;
}
.bottom-icon{
    color:grey;
    font-size:26px;
}
.button-fa-icon{
    color:grey;
    font-size:12px;
}
input{
    color: black;
}
.x-panel{
    border-color:grey;
}

.x-panel-body
{
    border-color: grey;
    padding: 1px;
}

.head{

    font: bold 12pt 'Lato', sans-serif;
    color: #3fad28;
    text-align: center;
}
legend{
    color: #3fad28;
    font-weight:bold;
}
.body {
    margin-left:10px;
    margin-top:10px;
}
.x-panel-tl{
    background-image:url(../images/mantis.png);
    border-bottom-color: grey;
}
.x-panel-tc{
    background-image:url(../images/mantis.png);
}
.x-panel-tl .x-panel-header{
    color:white;
    font-size: 13px;
}
.x-panel-tr{
    border-bottom-color: grey;
    background-image:url(../images/mantis.png);;
}
.x-tool-toggle:after{
    font-family: FontAwesome;
    content: "\f068";
    color:white;
}

.x-tool-collapse-west:after {
   content: none;
}

.x-panel-collapsed .x-tool-toggle:after{
    font-family: FontAwesome;
    content: "\f067";
    color:white;
}
.x-panel-ml,.x-panel-mr,.x-panel-bc,.x-panel-br{
    background-image:none;
}
.x-panel-bl{
    background-image: none;
    border-bottom-color: grey;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body
{
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: grey;
}

a{
    color: rgb(100,100,100);
}

a:hover{
    color:#3fad28;
}

.x-window-tl .x-window-header
{
	color: #3fad28;
	font: bold 11px tahoma,arial,verdana,sans-serif;
        height: 50px;
        padding: 5px 0 15px 0;
}

.x-window-header-text{
    color:#202c2d;
}
body.x-body-masked .x-window-plain .x-window-mc
{
    background-color:white;
}
.x-html-editor-wrap
{
	background-color: #fff;
	border-color: #a9bfd3;
}
.x-window-tc
{
	background-image:none;
        height: 45px;
}
.x-window-tl
{
	background-image:none;
}
.x-window-tr
{
	background-image:none;
}
.x-window-bc
{
	background-image:none;
}
.x-window-bl
{
	background-image:none;
}
.x-window-br
{
	background-image:none;
}
.x-window-mc
{
	background-color: #dfe8f6;
	border-color: grey;
	font: normal 11px tahoma,arial,helvetica,sans-serif;
        border-top: 4px solid #3fae29;
}
.x-window-ml
{
	background-image:none;
}
.x-window-mr
{
	background-image:none;
}


.x-resizable-over .x-resizable-handle-east,.x-resizable-pinned .x-resizable-handle-east,.x-resizable-over .x-resizable-handle-west,.x-resizable-pinned .x-resizable-handle-west
{
    background-image: none
}
.x-resizable-over .x-resizable-handle-south,.x-resizable-pinned .x-resizable-handle-south,.x-resizable-over .x-resizable-handle-north,.x-resizable-pinned .x-resizable-handle-north
{
    background-image: none
}
.x-resizable-over .x-resizable-handle-north,.x-resizable-pinned .x-resizable-handle-north
{
    background-image: none
}
.x-resizable-over .x-resizable-handle-southeast,.x-resizable-pinned .x-resizable-handle-southeast
{
    background-image: none
}
.x-resizable-over .x-resizable-handle-northwest,.x-resizable-pinned .x-resizable-handle-northwest
{
    background-image: none
}
.x-resizable-over .x-resizable-handle-northeast,.x-resizable-pinned .x-resizable-handle-northeast
{
    background-image: none
}
.x-resizable-over .x-resizable-handle-southwest,.x-resizable-pinned .x-resizable-handle-southwest
{
    background-image: none
}
.caret-down{
    color:#3fad28;
    font-size: 18px;
}

.fa-caret-right{
    color:#3fad28;
    font-size: 18px;
}

.x-combo-list .x-combo-selected {
     color: black;
     background-color: #e2f5dc;
}
.x-combo-list {
    color:black;
    background-color: #e2f5dc;
    border-color: #3fae29;
}
.x-resizable-pinned .x-combo-list-inner {
     border-bottom: none;
}
.x-panel-mc {
    background-color: white;
}
.x-panel .x-portlet{
    border: 1px solid grey;
}
.x-window-dlg .ext-mb-question,.ext-mb-info, .ext-mb-warning {
    background-image:none !important;
}

.x-window-dlg .ext-mb-question:after{
    font-family: FontAwesome;
    content: "\f059";
    color:grey;
    font-size:35px;
}
.x-window-dlg .ext-mb-info:after{
    font-family: FontAwesome;
    content: "\f05a";
    color:grey;
    font-size:35px;
}
.x-window-dlg .ext-mb-warning:after
{
    content: "\f071";
    font-family: FontAwesome;
    color:grey;
    font-size:35px;
}
.x-window-header
{
    background-color:white;
}
.x-window-tl{
    padding-top:10px;
}
.x-window-header-text{
    padding: 0 10px;
    color: #535453;
    font-size: 1.35rem;
    font-weight: normal;
}


/*Tabs*/
.x-tab-strip span.x-tab-strip-text
{
    color: grey;
    font: bold 12px 'Lato', sans-serif;
    padding-top: 5px;
    padding-bottom: 0px !important;
}

.x-tab-strip-top .x-tab-right,.x-tab-strip-top .x-tab-left,.x-tab-strip-top .x-tab-strip-inner
{
    background-image: none;
}

.x-tab-strip-closable{
    border:1px solid grey;
    border-bottom: none;
    padding-bottom: 1px;
    margin-top: 0px;
    font-size: 14px;
}
.x-tab-strip-closable.x-tab-strip-active{
    border-bottom: 3px solid white;
    background-color:white;
}
.x-tab-strip-active{
    padding-bottom: 0px;
}
.x-tab-strip-active .x-tab-strip-text{
    border-bottom: 3px solid #3fad28;
}


.x-tab-strip-active span.x-tab-strip-text
{
    color: #3fad28;
    font-weight: bold;
    /*border-bottom: 3px solid #3fad28;*/
}

ul.x-tab-strip{
    padding-left:5px;
}
.x-tab-right > em{
    height:24px;
}
ul.x-tab-strip-top
{
    background-color: white;
    background-image:none;
    border-bottom: 1px solid grey;
}
.x-panel-noborder .x-panel-header-noborder
{
    border-bottom-color: white;
    margin-left: 0px;
}
.x-tree-node-el{
    line-height: 20px;
}
.x-tab-strip-closable{
}
.x-tab-strip-top{
    height: 26px;
}

.tab-not-closable .x-tab-strip-closable .x-tab-left {
    padding-right: 0px;
}
.tab-not-closable .x-tab-strip-closable .x-tab-right {
    padding-right: 10px;
}
.tab-not-closable {
   width:auto !important;
}

.x-fieldset legend {
    color: #3fad28;
    font-weight: bold;
    font-size:13px;
}

tr.row-selected{
    color:white;
    background-color:#3fad28;
}

/*Calendar*/

.x-date-middle, .x-date-left, .x-date-right {
    background-image: none;
    color: #fff;
    font: bold 11px 'Lato', sans-serif;
}
.x-date-middle .x-btn .x-btn-text {
    color: black;
    margin-left:8px;
}
.x-date-left a,.x-date-right a {
    background-image: none;
}
.x-date-left a:after{
    font-family: FontAwesome;
    content: "\f053";
    color:grey;
    font-size:10px;
}
.x-date-right a:after{
    font-family: FontAwesome;
    content: "\f054";
    color:grey;
    font-size:10px;
}
.x-date-inner th {
    background-color: #ddd;
    border-bottom: none;
    font-size:10px;
    background-image:none;
    color: #000;
}
.x-date-inner .x-date-today a {

    background-color: #ddd;
    border-color: grey;
}
.x-date-inner .x-date-selected a {
    border-color: #3fad28;
    background-image: none;
    background-color: #fff;
}
.x-date-bottom {
     background-color: #fff;
     background-image: none;
    border-top-color: grey;
}

td.x-date-mp-sel a {
    background-color: #fff;
    background-image: none;
    border-color: #3fad28;
}

.x-date-mp-prev,.x-date-mp-next {
    background-image: none;
}
.x-date-mp-ybtn a {
    background-image: none;
}
.x-date-mp-prev:after{
    font-family: FontAwesome;
    content: "\f053";
    color:grey;
    font-size:10px;
}

.x-date-mp-next:after{
    font-family: FontAwesome;
    content: "\f054";
    color:grey;
    font-size:10px;
}
.x-date-mp-btns {
     background-color: #fff;
     background-image: none;
}

.x-date-mp-btns button {
    background-color: #EBEDEB;
    border-color: grey;
    color: #000;
    font-size: 11px;
}

.x-menu-floating {
    border-color: #3fad28;
}
.x-btn button {
    color: #333;
    font: normal 11px 'Lato', sans-serif;
}

.x-date-picker .x-btn-text {
    margin-left:10px;
    margin-right:10px;
}

td.x-date-mp-month a, td.x-date-mp-year a {
    color: black;
}
.x-form-focus, textarea.x-form-focus {
    border-color: #3fad28;
}
iframe{
    border: 1px solid grey;
}
.x-panel-body iframe{
    border:none;
}

.x-window-footer{
    background-color: white;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.x-toolbar {
     background-color: white;
     background-image: none;
}

.x-tool-minus,.x-tool-plus{
    background-image: none;
}

.x-tool-minus:after {
    font-family: FontAwesome;
    content: "\f068";
    color: grey;
}
.x-tool-plus:after {
    font-family: FontAwesome;
    content: "\f067";
    color: white;
}

.ext-cal-day-col .ext-color-1, .ext-dd-drag-proxy .ext-color-1, .ext-color-1-ad, .ext-color-1-ad .ext-cal-evm, .ext-color-1 .ext-cal-picker-icon, .ext-color-1-x dl, .ext-color-1-x .ext-cal-evb {
    background: #3fad28;
}

.x-btn-mc {
    background-image: none;
    border: 1px solid grey;
    padding: 1px 3px !important;
    border-radius: 3px;
}

.x-btn-over .x-btn-mc{
    background-color: #e2f5dc !important;
    border-color: #3fad28;
}

.x-btn-mc {
    color:black;
    background-color: #EBEDEB;
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
     background-image: none;
}
.x-tbar-page-next,.x-tbar-page-prev {
    background-image: none !important;
}

.x-tbar-page-prev:after {
    font-family: FontAwesome;
    content: "\f053";
    color: grey;
}
.x-tbar-page-next:after {
    font-family: FontAwesome;
    content: "\f054";
    color: grey;
}
.x-tool-close{
    background-image: none;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 10px;
    overflow: visible;
    width: inherit;
}
.x-tool-close:after {
    font-family: FontAwesome;
    content: "\f00d";
    color: grey;
    font-size: 18px;
}

table.table-td-border td{
    border:1px solid grey;
}
td.sort-desc div,td.sort-asc div,td.x-grid3-hd-over div{
    color: #3fad28;
    font-weight: bold;
}
.x-grid3-header {
     background-color: white;
     border-bottom: 1px solid;
     border-color: grey;
}
.x-grid3-cell-selected {
    background-color: #A1EB91!important;
    color: #000;
}
td.x-grid3-hd-over .x-grid3-hd-inner {
    background-color: white;
    background-image:linear-gradient(
	    to bottom,
	    #f9f9f9,
        #e2f5dc 50%,
        #cdf5c4 75%,
	    #a1eb91);
    color: black;
}
.x-menu {
    background-color: white;
    background-image: none;
}

td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-color: white;
    background-image:linear-gradient(
	    to bottom,
	    #f9f9f9 50%,
	    #e3e4e6);
    color: black;
}

.x-grid3-hd-inner {
    font-weight: bold !important;
}

.x-menu-item.active {
    background-color: #3fad28;
    border:0;
}
td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {

    border-right-color: grey;
    border-left-color: white;
}

.x-grid3-row-expander {
    background-image:  none;
}
.x-grid3-row-collapsed .x-grid3-row-expander:after {
    font-family: FontAwesome;
    content: "\f067";
    color: grey;
}
.x-grid3-row-expanded .x-grid3-row-expander:after {
    font-family: FontAwesome;
    content: "\f068";
    color: grey;
}

.x-grid3-body .x-grid3-td-expander {
    background-image: none;
}
.x-grid3-row-selected {
    background-color: #e2f5dc !important;
    background-image: none;
    border-color: #323332;
}
.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
    background-image: none;
}

.sortImage{
    cursor: pointer;
    font-size: 16px;
    border: 1px solid grey;
    text-align: center;
    padding: 2px;
    width: 16px;
}

.x-progress-bar {
    background-color: #3fad28;
    background-image: url(../images/progressbg_redesign.gif);
}

.x-tree-node .x-tree-node-over{
    background-color: #e2f5dc;
}

.x-tree-node .x-tree-selected {
    background-color: #dcdedc;
}

.x-grid3-row-over
{
    background-color: #e2f5dc !important;
    background-image: none;
    border-color: #ddd;
}

.x-grid-group-hd div.x-grid-group-title
{
	color: #3fad28;
}

.x-grid3-hd-btn{
    background-image: none;
    background-color: #DCDEDC;
    font-size:14px;
    padding-top:4px;
    padding-left:4px;
    margin-right:-2px;
}

.x-grid3-hd-btn:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d7";
}

.x-menu-item-active{
    background-image: none;
    background-color: #e2f5dc;
}

.ux-sort-duallist:after{
    font-family: FontAwesome;
    content: "\f15d";
    color:grey;
    font-size:13px;
}

.ux-sort-duallist-number:after{
    font-family: FontAwesome;
    content: "\f162";
    color:grey;
    font-size:13px;
}

.x-menu-item-arrow
{
    background-image:  url(../images/menu-parent-override.png); //NCR Green arrow
}

.x-date-middle .x-btn-mc em.x-btn-arrow {
    background-image: none;
    padding-right:0px;
}

.x-date-inner a:hover,.x-date-inner .x-date-disabled a:hover
{
	background-color: #e2f5dc;
}

td.x-date-mp-month a:hover,td.x-date-mp-year a:hover
{
	background-color: #e2f5dc;
}

.sort-desc .x-grid3-sort-icon {
    background-image: url(../images/fa-caret-down.png);
}

.sort-asc .x-grid3-sort-icon {
    background-image: url(../images/fa-caret-up.png);
}

.x-border-panel {
    width: 0px;
}

.x-tree-node-collapsed .x-tree-node-icon
{
    background-image: url(../images/fa-folder.png);
}

.x-tree-node-expanded .x-tree-node-icon
{
    background-image: url(../images/fa-folder-open.png);
}

.x-tree-node-leaf .x-tree-node-icon{
    height: 12px;
    width: 12px;
}

.xg-hmenu-sort-asc .x-menu-item-icon {
    background-image: url(../images/grid-fa-sort-alpha-desc.png);
}

.xg-hmenu-sort-desc .x-menu-item-icon {
    background-image: url(../images/grid-fa-sort-alpha-asc.png);
}

.x-grid3-row-alt {
    background-color: #FAFAFA;
    border-color: #DCDEDC;
}

.x-grid3-row-selected .x-grid3-cell-inner
{
   color: black;
}

.x-grid3-row .x-grid3-row-alt .x-grid3-row-selected .x-grid3-row-over {
    background-color: #969696;
}

.x-grid3-row td, .x-grid3-summary-row td {
    border-color: #323332;
}

.x-form-text
{
    border-color: gray;
    background-image: none;
}

textarea.x-form-field
{
    border-color: gray;
    background-image: none;
}

.x-form-field-wrap .x-form-trigger
{
	background-image: url(../images/select-trigger-grey.gif);
	border-bottom-color: #b5b8c8;
}
.x-form-field-wrap .x-form-date-trigger
{
	background-image: url(../images/date-trigger-grey.gif);
}

.x-tree-arrows .x-tree-elbow-end-minus {
    background-image: url(../images/arrows.png);
}

.x-tree-arrows .x-tree-elbow-end-plus {
    background-image: url(../images/arrows.png);
}

.x-mask-loading div {
    background-color: #FFFFFF;
    color: black;
}

.ext-el-mask-msg {
    background-color: #e2f5dc;
    background-image: none;
    border-color: #3fad28;
}

ul.x-tab-strip li {
    background-color: white;
}

.x-panel-header {
    color: white;
    border-color: #808080;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #70BF60;
}

.ux-mselect-selected {
    border: 1px dotted #808080 !important;
    background: #E2F5DC none repeat scroll 0% 0%;
    cursor: pointer;
}

.x-grid-group-collapsed .x-grid-group-hd div.x-grid-group-title {
    background-image:url(../images/fa-plus.png);
}

.x-grid-group-hd div.x-grid-group-title {
    background-image:url(../images/fa-minus.png);
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-color: white;
    background-image:linear-gradient(
	    to bottom,
	    #f9f9f9,
        #e2f5dc 50%,
        #cdf5c4 75%,
	    #a1eb91);
    color:black;
}

.x-list-over
{
    background-color: #e2f5dc;
}

.x-window-plain .x-window-mc {
    background-color: #e2f5dc;
    border-color: #e2f5dc;
}

.x-window-plain .x-window-body {
    border-color: #e2f5dc;
}

fieldset {
    padding: 6px;
}

.x-window-dlg .x-window-header-text {
    font-size: 13px;
    color: #323332;
    font-weight:bold;
}

.x-resizable-over .x-resizable-handle-southeast, .x-resizable-pinned .x-resizable-handle-southeast {
    background-image: url(../images/se-handle-redesign.png);
}